<footer class="footer">
    <ul class="footer__contacts">
        Контакты:
        <li class="footer__contacts__contact">
            <a id="m" href="mailto:vanyusha.ivanovich.2022@mail.ru" class="color_lightblue">Корпоративная почта</a>
        </li>
    </ul>
    <a class="footer__home color_lightblue" href="/">Домашняя страница</a>
</footer>
