<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{title}}</title>
        {{> css}}
    </head>
    <body>
        {{> background}}
        {{> header}}
        <main class="main">
            <h1 class="text_info">{{text}}</h1>
        </main>
        {{> footer}}
    </body>
</html>
