<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Page not found</title>
        {{> css}}
    </head>
    <body>
        {{> background}}
        {{> header}}
        <main class="main">
            <h1 class="text_info">Not found</h1>
        </main>
        {{> footer}}
    </body>
</html>
